* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* White background */
    margin: 0; /* Remove default margin */
}
.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Adjust the z-index as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 5%; /* Add 5% padding on left and right */
}

.nav_logo img {
    max-height: 40px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    height: 100%;
}

.left-container {
    width: 60%;
    background-color: #cfe2f1; /* Slightly whitish blue background */
    padding: 20px;
    height: 100%;
    overflow-y: auto; /* Add overflow-y to enable scrolling if content exceeds height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.right-section {
    width: 40%;
    height: 100%;
}

.tweet-card {
    width: 521px;
    height: 220px;
    background-color: #fff; 
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-container {
    display: flex;
    align-items: flex-start;
    height: 80%;
}

.user-photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.thoughts-input textarea {
    height: 126px;
    width: 413px;
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
    font-size: 16px;
    resize: none;
    margin-top: 10px;
}
.bottom-container {
    display: flex;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; 
}

.letter-count p {
    color: #333; 
}

.post-button button {
    background-color: blue;
    border-radius: 20px;
    padding: 8px 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}
